body{
  background-image: url(./back.jpg);
}

/* Style Movie Table */

.rederTable{
  position: relative;
  top: 30px;
  left: 50%;
  min-width: 900px;
  margin: 8px;
  border-collapse: collapse;
  transform: translate(-50%, 0%);
  background: white;
  margin-bottom: 40px;
  border-radius: 10px;
}
.rederTable th, td{
  text-align: left;
  padding: 5px;
  border: 1px solid black;
}
.rederTable td{
  cursor: pointer;
}
.main{
  position: relative;
  top: 10px;
}
.rederTable tr:nth-child(even){
  background-color: #f2f2f2;
}
.rederTable th {
  background-color: #4CAF50;
  color: white;
  padding-left: 10px;
}
.btn{
  position: relative;
  height: 30px;
  width: 70px;
  margin-left: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.btn:hover{
  background-color: rgb(56, 131, 59);
}
.mainH2{
  -webkit-text-stroke: 1px #000000;
}
.mainBtn{
  position: relative;
  text-align: center;
  top: 20px;
  color: white;
}
/* Style Links */
a{
  color: #11d011;
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: #007700;
}
/* -----  End ---- */
.mainS{
  position: relative;
  height: 40px;
  width: 200px;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  outline: none;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: 20px;
  padding: 3px;
}
.infoText{
  color:white;
}
.errorMess{
color: white;
}
.mainForm{
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.inputLabel{
  font-size: 20px;
  color: white;
}
.inputText{
  width: 600px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #4CAF50;
  outline: none;
  padding: 3px;
  font-size: 20px;
}
.inputTextA{
  width: 600px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid #4CAF50;
  outline: none;
  padding: 3px;
  font-size: 20px;
  resize: none;
}
.errorMess{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 20px;
  color: red;
  }
.rating{
  position: relative;
  width: 600px;
} 
.ratingNum{
  position: absolute;
  margin-top: 10px;
  text-align: center;
  width: 170px;
  height: 25px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 25px;
  color: black;
  background: white;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 20px;
  border: 2px solid #4CAF50;
}
.infoTabel{
  position: relative;
  top: 89px;
  left: 50%;
  width: 800px;
  margin: 8px;
  border-collapse: collapse;
  transform: translate(-50%, 0%);
  background: white;
  table-layout:fixed;
  border-radius: 10px;
}
.infoTabel th, td{
  text-align: left;
  padding: 10px;
  word-wrap:break-word;
}
.infoTabel tr:nth-child(even) {
  background-color: #f2f2f2;
}
.infoTabel th {
  background-color: #4CAF50;
  color: white;
}
.infoTabel .decTd {
  height: 120px;
  vertical-align: top;
}
.infoTabel .rateTd{
  text-align: right;
  padding-right: 10px;
}
.connectionMess{
  position: absolute;
  top: 340px;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
  font-size: 25px;
}
/* Style Rating Stars */
.is-active-half::before{
  color: #ffb400 !important;
  -webkit-text-stroke: 1px #000000;
}
.is-active{
  color: #ffb400 !important;
  -webkit-text-stroke: 1px #000000;
}
.react-rater-star{
  color: #494949;
  -webkit-text-stroke: 1px #000000;
}
/* 
.is-disabled{

} 
.is-active-half{

} */
/* ------- End --------- */

 .tooltiptext {
  visibility: hidden;
  width: 450px;
  height: 175px;
  background: black;
  color: #fff;
  text-align: left;
  vertical-align: top;
  border-radius: 6px;
  padding: 10px;
  opacity: 0.9;
  border: 3px solid #4CAF50;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.rateSize{
  position: relative;
  font-size: 20px;
}
.rateNum{
  position: relative;
  top: -1px;
  font-size: 16px;
}
/* ------------------------------------------- */
/* ------ Style Range ---------- */
input[type=range] {
  height: 30px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #50555C;
  background: #FFFFFF;
  border-radius: 14px;
  border: 2px solid #4CAF50;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #50555C;
  height: 23px;
  width: 39px;
  border-radius: 12px;
  background: #4CAF50;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #50555C;
  background: #FFFFFF;
  border-radius: 14px;
  border: 2px solid #4CAF50;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #50555C;
  height: 23px;
  width: 39px;
  border-radius: 12px;
  background: #4CAF50;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FFFFFF;
  border: 2px solid #4CAF50;
  border-radius: 28px;
  box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #FFFFFF;
  border: 2px solid #4CAF50;
  border-radius: 28px;
  box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #50555C;
  height: 23px;
  width: 39px;
  border-radius: 12px;
  background: #4CAF50;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FFFFFF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FFFFFF;
}
